@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h2 {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
/* identical to box height */
text-align: center;

color: #5C5A6C;

}