.removedone-icon {
    position: absolute;
    min-height: 32px;
    min-width: 32px;
    padding: 4px;
    right: 6px;
    color: #FF3E3E;
    background: #FFE6E6;
    border-radius: 50%;
}

.done-text {
    text-decoration-line: line-through;
    opacity: 0.5;
}